@use "../../styles/partials/colours" as *;
@use "../../styles/partials/keyframes" as *;

.game-page {
  background-color: $secondary-colour-two;
  height: 100vh;
  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    color: $primary-colour-one;
    background-color: $secondary-colour-two;
    overflow: hidden;
    .display-one {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;
      height: 100%;
      &__name-seed {
        text-align: left;
        margin: 1rem 0;
        text-align: left;
        line-height: 1.5rem;
        &--title {
          display: block;
          font-weight: 700;
        }
        &--name {
          margin-bottom: 0;
        }
      }
    }
    .display-two {
      display: flex;
      flex-direction: column;
      width: 50%;
      &__name {
        font-size: 1.6rem;
      }
      &__captured-bottts {
        display: flex;
        justify-content: space-evenly;
        border: 2px solid $primary-colour-one;
        border-bottom: none;
      }
      &__captured-bottt {
        padding: 0.3rem;
        flex-grow: 1;
        width: 5rem;
        height: 5rem;
        background-color: $secondary-colour-two;
        background-image: url("../../assets/images/binary.gif");
        background-position: center;
        background-size: cover;
        &--found {
          background-image: url("../../assets/images/goodBinary.gif");
        }
      }
    }
    .display-three {
      font-size: 1.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 25%;
    }
  }
  &__game-wrapper {
    display: flex;
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: $secondary-colour-two;
  }
  &__screen {
    width: 75%;
    height: 100%;
    height: 40rem;
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      top: 10px;
      left: 10px;
      position: absolute;
      background: url("../../assets/images/city.gif");
      opacity: 0.3;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
    &:hover {
      cursor: url("../../assets/images/crosshair102.png"), auto;
    }
  }

  .dash {
    color: $primary-colour-one;
    width: 25%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box;
    // align-items: center;
    &__header {
      margin: 0;
      margin-top: 2rem;
      width: max-content;
      word-wrap: break-word;
    }
    &__target-robot {
      width: 6rem;
      height: 6rem;
      border: 3px solid $primary-colour-one;
      margin-top: 2rem;
    }
    &__chat-box {
      width: 100%;
      height: 8rem;
      border: 3px solid $primary-colour-one;
      margin-top: 2rem;
      color: $primary-colour-three;
    }
    &__chat-text {
      margin: 0;
      padding: 1rem;
      box-sizing: border-box;
      text-align: left;
    }
  }
}
