$primary-colour-one: #ee5a1b;
$primary-colour-two: rgb(26, 9, 2);
$primary-colour-three: rgb(7, 147, 11);

$secondary-colour-one: rgb(255, 255, 255);
$secondary-colour-two: rgb(0, 0, 0);
$secondary-colour-three: rgb(116, 25, 25);
$secondary-colour-four: rgb(232, 13, 13);
