@keyframes flashingUnderscore {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// @keyframes scrollLevelOne {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(calc(-200px * 5));
//   }
// }

@keyframes scrollRightLevelOne {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(200px * 5));
  }
}
