@use "../../styles/partials/colours" as *;

.text-input {
  background-color: transparent;
  border: 1px solid $primary-colour-one;
  color: $primary-colour-one;
  font-size: 1.25rem;
  height: 1.6rem;
  margin-left: 1rem;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}
