@use "../../styles/partials/colours" as *;

.middle {
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.bar {
  width: 12px;
  height: 96px;
  background: $secondary-colour-one;
  display: inline-block;
  transform-origin: bottom center;
  box-shadow: 5px 10px 20px inset $primary-colour-three;
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: transparent;
  }
  50% {
    transform: scaleY(1);
    background: $secondary-colour-two;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
