@use "../../styles/partials/colours" as *;
@use "../../styles/partials/keyframes" as *;
@use "../../styles/partials/mixins" as *;

.bottt-creator-tab-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-img-container {
    .menu-background {
      filter: brightness(0.1);
    }
  }

  .bottt-creator-screen {
    border-radius: 1rem;
    position: relative;
    width: 75rem;
    padding: 1rem 0 0;
    max-height: 49.5rem;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    &__header-gears-gif {
      width: 3rem;
      height: 3rem;
      position: relative;
      left: 1rem;
    }
    &__title {
      margin: 0;
      &--not-first {
        margin-top: 3rem;
      }
      &--section {
        color: $secondary-colour-five;
      }
    }

    .nav {
      padding: 0 2rem;
      box-sizing: border-box;
      list-style-type: none;
      margin: 0;
      &__item {
        margin-top: 2rem;
        height: 7%;

        &:hover {
          cursor: pointer;
        }
        &--seed-tab {
          margin-top: 70%;
          flex-grow: 1;
          border-bottom: none;
        }
      }
      &__btn {
        width: 100%;
        min-width: 9.5rem;
        transition: all 0.3s;
        &:hover {
          color: $secondary-colour-five;
        }
        &--active {
          color: $primary-colour-three;
          &:hover {
            color: $primary-colour-three;
          }
        }
      }
    }

    .interactive-menu {
      position: relative;
      overflow: hidden;
      min-height: 45.5rem;
      display: flex;

      &__current-page {
        flex-grow: 1;
        border-radius: 0 0 1rem;
      }
      &__seed-generation {
        width: 100%;
        height: 100%;
      }
      &__loading-gif {
        height: 3rem;
        transform: scaleX(-1);
        display: block;
        margin-left: auto;
      }
      &__loading-bar {
        border: 1px solid $primary-colour-one;
        margin: 0 auto;
        width: 80%;
        height: 3rem;
        position: relative;
        overflow: hidden;
      }
      &__loading-bar-track {
        background-color: $tertiary-colour-two;
        height: 100%;
        width: 0%;
        animation: loadingSeed 4s ease-in-out forwards;

        &--loaded {
          background-color: $tertiary-colour-two;
          height: 100%;
          width: 100%;
        }
      }
      &__rendered-seed {
        animation: renderSeed 1s forwards;
        &--spacing {
          margin-top: 2rem;
        }
        &--name {
          color: $secondary-colour-five;
        }
        &--animated {
          &::after {
            @include ellipsis;
          }
        }
      }
      &__overview-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 3rem auto 0;
      }
      &__text-input {
        &--error {
          color: $secondary-colour-four;
        }
      }
      &__text-area {
        width: 80%;
        height: 4rem;
      }
      .overview-table {
        margin: 3rem auto 1rem;
        width: 70%;
        &__headers {
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          color: $secondary-colour-five;
        }
        &__rows {
          display: flex;
          flex-direction: column;
        }
        &__row {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;
        }
        &__img {
          max-height: 4rem;
        }
        &__block {
          width: 25%;
        }
      }
      .instructions {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        padding: 1rem 2rem;
        .highlighted {
          color: $secondary-colour-five;
        }
        text-align: left;

        &__sub-title {
          margin-bottom: 0;
        }
        &__list {
          list-style-type: none;
          padding: 0;
          &--sub-list {
            list-style-type: none;
          }
        }
        &__list-item {
          line-height: 1.4rem;
          margin-top: 0.5rem;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            background-image: url("../../assets/images/gears.gif");
            width: 1rem;
            height: 1rem;
            display: inline-block;
            z-index: 10;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            left: -1.5rem;
            transform: scaleX(-1);
          }
          &--coloured {
            color: $secondary-colour-five;
          }
        }
      }
    }
  }
}

@keyframes loadingSeed {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes renderSeed {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
