@use "../../styles/partials/colours" as *;
@use "../../styles/partials/keyframes" as *;

.bottt-creator-tab-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .bottt-creator-screen {
    border-radius: 1rem;
    position: relative;
    width: 55rem;
    padding-top: 2rem;
    min-height: 40rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    &__title {
      margin: 1rem;
      &--not-first {
        margin-top: 3rem;
      }
    }

    .nav {
      padding: 0;
      list-style-type: none;
      width: 15%;
      margin: 0;
      border-right: 1px solid $primary-colour-one;
      &__item {
        margin-top: 2rem;
        height: 10%;
        border-bottom: 1px solid $primary-colour-one;
        &:hover {
          cursor: pointer;
        }
        &--seed-tab {
          margin-top: 50%;
          flex-grow: 1;
          border-bottom: none;
        }
      }
    }
    .interactive-menu {
      height: 100%;
      flex-grow: 1;
      display: flex;
      border-top: 1px solid $primary-colour-one;
      &__current-page {
        flex-grow: 1;
        border-radius: 0 0 1rem;
      }
    }
  }
}
