@use "../../styles/partials/colours" as *;
@use "../../styles/partials/keyframes" as *;

.screen-wrapper {
  display: flex;
  width: 200%;
  background: black;
}

.home-screen-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &--shift-left {
    animation: shiftLeft 1s ease-out forwards;
  }
  &--shift-right {
    animation: shiftRight 1s ease-out forwards;
  }
}

.home-screen {
  position: relative;
  width: 100%;
  max-width: 37rem;
  padding: 2rem;
  z-index: 2;
  &__title {
    color: $primary-colour-one;
    &::after {
      content: "__";
      position: relative;
      left: 0.2rem;
      animation: flashingUnderscore 2s linear infinite;
    }
  }
  &__welcome-message {
    color: $primary-colour-one;
    line-height: 1.5rem;
  }
  &__form {
    color: $primary-colour-one;
    display: flex;
    flex-direction: column;
  }
  &__credentials-title {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  &__seed-title {
    font-weight: 700;
    margin: 2rem 0 1rem;
    font-size: 1.25rem;
  }
  &__seed-input {
    color: $primary-colour-one;
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid $secondary-colour-one;
    background: none;
    margin-bottom: 1rem;
    &:focus {
      outline: none;
    }
  }
  &__proceed-btn {
    padding: 0.5rem;
    width: max-content;
    color: $primary-colour-one;
    align-self: center;
    margin: 1rem 0;
    border: none;
    outline: 1px solid $primary-colour-one;
    background-color: transparent;
    border-radius: 0.2rem;
    transition: background 0.3s ease-in-out;
    &:hover {
      background: $primary-colour-two;
    }
  }
}

.background-img-container {
  position: relative;
  .menu-background {
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.2);
    box-shadow: 0 0 10px 10px white;
    &--colour-one {
      box-shadow: 0 0 10px 10px rgb(38, 85, 186);
    }
  }
}

.highscores-tab-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  color: $primary-colour-one;
  display: flex;
  justify-content: center;
  align-items: center;
  &--shift-left {
    animation: shiftLeft 1s ease-out forwards;
  }
  &--shift-right {
    animation: shiftRight 1s ease-out forwards;
  }
  .highscore-screen {
    position: relative;
    width: 60rem;
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    &__table {
      width: 100%;
      border: 1px solid $primary-colour-one;
      box-sizing: border-box;
      padding: 2rem;
    }
    &__table-headers {
      display: flex;
      justify-content: space-between;
    }
  }
}

@keyframes shiftLeft {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes shiftRight {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
